:root {
  --color-light-100: #fff2e8; //
  --color-light-200: #ffe5d0; //
  --color-light-300: #ffd8b9; //
  --color-light-400: #ffcc80;
  --color-light-500: #ffb24d;
  --color-light-600: #ff9933;
  --color-light-700: #ff8000;
  --color-light-800: #e67300;
  --color-light-900: #fd8b2b;
  --color-base: #fd7e14; //
  --color-dark-100: #e47112;
  --color-dark-200: #ca6510;
  --color-dark-300: #b1580e; //
  --color-dark-400: #984c0c;
  --color-dark-500: #7f3f0a;
  --color-dark-600: #653208;
  --color-dark-700: #4c2606;
  --color-dark-800: #331904; //
  --color-dark-900: #190d02; //

  --color-light-100-rgba: rgba(255, 242, 232, 0.9);
  --color-light-400-rgba: rgba(255, 204, 128, 0.9);
  --color-dark-800-rgba: rgba(51, 25, 4, 0.8);
  --color-dark-900-rgb: rgb(25, 13, 2);
}
