// main.scss
@use './abstracts/variables';
@use './abstracts/mixins';
@use './abstracts/custom-bs-variables' as *;

@use './base/animations';
@use './base/base';
@use './base/typography';
@use './base/utilities';

@use './components/buttons';
@use './components/icons';

@use './layout/header';
@use './layout/footer';
@use './layout/contact';
@use './layout/introduction';
@use './layout/projects';

@use './pages/home';

@use '../../../node_modules/bootstrap/scss/bootstrap' with (
  $font-family-base: $font-family-base,
  $font-weight-normal: $font-weight-normal,
  $display-font-weight: $display-font-weight,

  $primary: $primary,
  $secondary: $secondary,
  $body-color: $body-color,
  $body-bg: $body-bg,

  $focus-ring-color: $focus-ring-color,
  $focus-ring-width: $focus-ring-width,

  $border-radius-sm: $border-radius-sm,
  $border-radius: $border-radius,

  $btn-padding-x: $btn-padding-x,

  $input-color: $input-color
);
