@use '../../../scss/styles/abstracts/variables';

.footer {
  width: max-content;
}

#socialMediaIcons {
  color: #{var(--color-dark-100)};
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &.light {
    color: #{var(--color-light-100)};
  }

  &.dark {
    color: #{var(--color-dark-100)};
  }
}
