@use '../../../scss/styles/abstracts/variables';
@use '../../../scss/styles/abstracts/mixins' as *;

#offcanvasNavbar {
  max-width: 50vw;
  background-color: #{var(--color-light-100)};
}

li[id='offcanvas-list']:focus,
.color-picker:focus {
  outline: none;
  @include respond(medium) {
    outline: 2px solid #{var(--color-dark-800)};
  }
}

#offcanvas-list .nav-link,
.color-picker {
  color: #{var(--color-dark-100)};
  transition: all 0.3s;
  cursor: pointer;

  @include respond(medium) {
    &.light {
      color: #{var(--color-light-100)};
    }

    &.dark {
      color: #{var(--color-dark-300)};
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      color: #{var(--color-dark-300)};
    }
  }
}

.navbar-brand :hover {
  transform: scale(1.05);
}

.navbar-brand :active {
  transform: scale(1);
}

@include respond(medium) {
  .focus-arrow {
    display: none;
  }
}

.color-picker {
  color: #{var(--color-dark-300)};
  padding-bottom: 20px;
  @include respond(medium) {
    padding-bottom: 0;
    padding-inline-start: 2rem;
  }
}
