@use '../../../scss/styles/base/animations' as *;

.section-introduction__heading {
  animation: moveInTop 0.5s ease-out;
}

.section-introduction__cta {
  animation: moveInBottom 0.5s ease-out, pulse 2s ease-out infinite;
}

.myName {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
