@use '../abstracts/variables';

#Introduction {
  height: 100vh;
  min-height: fit-content;
  position: relative;
  background-color: #{var(--color-dark-900)};
}

#Experience {
  height: max-content;
  background-color: #{var(--color-light-100)};
}

#Projects {
  height: max-content;
  background-color: #{var(--color-light-100)};
}

#Contact {
  height: 100vh;
  min-height: fit-content;
  position: relative;
  background-image: linear-gradient(
      to bottom,
      #{var(--color-dark-800-rgba)},
      #{var(--color-dark-900-rgb)}
    ),
    url('https://ik.imagekit.io/3wvmuwil3/portfolio-images/woodDots.jpg');
  background-size: cover;
  background-position: top;
}
