@use '../../../scss/styles/abstracts/mixins' as *;
@use '../../../scss/styles/abstracts/variables';
@use '../../../scss/styles/abstracts/custom-bs-variables' as custom;
@use '../../../scss/styles/base/typography' as *;

.me-btn-contact {
  color: #{var(--color-dark-400)};
  border: 2px solid #{var(--color-dark-100)};
  border-radius: custom.$border-radius;
  outline: none;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  transition: color 0.3s, transform 0.3s;
  padding: 0.5rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    color: #{var(--color-dark-100)};
  }

  &:focus {
    outline: 2px solid #{var(--color-base)};
    color: #{var(--color-dark-100)};
  }

  &:active {
    transform: scale(0.9);
  }

  &:disabled {
    color: gray;
    border-color: gray;
  }
}

.me-btn-submit {
  border: 2px solid #{var(--color-light-300)};
  border-radius: custom.$border-radius;
  background-color: transparent;
  color: #{var(--color-light-300)};
  transition: all 0.3s;
  padding: 0.5rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  &:focus {
    border: 2px solid #{var(--color-base)};
    color: #{var(--color-base)};
  }

  &:active {
    transform: scale(0.9);
    color: #{var(--color-base)};
  }

  &:disabled {
    color: gray;
    border-color: gray;
  }
}

.me-btn-reset {
  border: none;
  background-color: transparent;
  color: #{var(--color-light-300)};
  outline: none;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
  &:focus {
    border: 2px solid #{var(--color-base)};
    color: #{var(--color-base)};
  }

  &:active {
    transform: scale(0.9);
    color: #{var(--color-base)};
  }

  &:disabled {
    color: gray;
    border-color: gray;
  }
}

.me-project-btn {
  color: #{var(--color-dark-500)};
  border-bottom: 2px solid #{var(--color-dark-100)};
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  padding: 0.2rem 0;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    color: #{var(--color-dark-100)};
  }

  &:focus,
  &:active {
    transform: scale(0.9);
  }
}

a.project-btn.btn.border-0:focus {
  color: #{var(--color-dark-100)};
  transform: scale(1.1);
}

//NAVBAR BUTTONS
#navbar-toggler {
  color: #{var(--color-dark-100)};
  background-color: transparent;
  outline: none;
  border: none;

  &:focus {
    box-shadow: none;
    outline: none;

    .navbar-toggler__icon {
      outline: 2px solid #{var(--color-dark-100)};
      outline-offset: 2px;
    }
  }

  @include respond(medium) {
    display: none;
  }
}

.me-btn-close {
  background: none;
  border: none;
  &:focus {
    outline: 1px solid #{var(--color-dark-100)};
    box-shadow: none;
  }
  &:active {
    transform: scale(0.9);
  }
}

.me-btn-color-picker {
  color: #{var(--color-dark-300)};
  padding-bottom: 20px;
  background: none;
  border: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &:focus {
    outline: 2px solid #{var(--color-dark-100)};
    outline-offset: 2px;
  }

  @include respond(medium) {
    padding-bottom: 0;
    margin-inline-start: 2rem;

    &.light {
      color: #{var(--color-light-100)};
    }

    &.dark {
      color: #{var(--color-dark-300)};
    }
  }
}
