// _typography.scss
@use '../abstracts/variables';

.text-orange-50 {
  color: variables.$me-orange-50;
}

.text-orange-75 {
  color: variables.$me-orange-75;
}

.text-orange-100 {
  color: variables.$me-orange-100;
}

.text-orange-200 {
  color: variables.$me-orange-200;
}

.text-orange-300 {
  color: variables.$me-orange-300;
}
.text-orange-400 {
  color: variables.$me-orange-400;
}

.text-orange-500 {
  color: variables.$me-orange-500;
}

.text-orange-600 {
  color: variables.$me-orange-600;
}

.text-orange-700 {
  color: variables.$me-orange-700;
}

.text-orange-800 {
  color: variables.$me-orange-800;
}

.text-orange-900 {
  color: variables.$me-orange-900;
}

.text-orange-1000 {
  color: variables.$me-orange-1000;
}

.text-xl {
  font-size: 1.25rem;
}

.text-xs {
  font-size: 0.75rem;
}
