@use '../abstracts/variables';
@use '../base/animations' as *;

.remainingChars {
  font-size: 0.8rem;
  right: 0;
  bottom: -20px;
}

.error-message {
  font-size: 0.8rem;
  margin-top: 5px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px variables.$me-orange-50 inset;
  -webkit-text-fill-color: variables.$me-orange-1000;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px variables.$me-orange-50 inset;
  -webkit-text-fill-color: variables.$me-orange-1000;
  transition: background-color 5000s ease-in-out 0s;
}

.backToTopArrow {
  top: 95%;

  & svg {
    animation: bounce 1s ease-in-out 5;
  }
}
