@use '../abstracts/mixins' as *;
@use '../base/animations' as *;
@use '../abstracts/variables';

.project-card__btn-container {
  display: flex;
  gap: 2rem;
}

.project-card__overlay-btn-container {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-card__tech-item {
  color: variables.$me-orange-800;
}

.project-card__heading {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@include respond(large) {
  .project-card__btn-container {
    display: none;
  }

  .project-card__overlay-container {
    position: relative;
    cursor: pointer;

    .project-card__overlay-img {
      transition: opacity 0.3s ease-in;
      width: 100%;
      height: auto;
    }

    &:hover .project-card__overlay-img,
    &:focus .project-card__overlay-img,
    &:focus-within .project-card__overlay-img {
      opacity: 0.3;
    }

    &:hover .project-card__overlay-btn-container,
    &:focus .project-card__overlay-btn-container,
    &:focus-within .project-card__overlay-btn-container {
      z-index: 10;
      opacity: 1;
      visibility: visible;

      text-align: center;
      animation: fadeIn 0.3s ease-in-out forwards;
    }
  }
}
