@use '../abstracts/variables';
@use '../abstracts/mixins' as *;
@use '../abstracts/custom-bs-variables' as custom;
@use '../base/typography' as *;

.me-btn-primary {
  border-bottom: 2px solid variables.$me-orange-500;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  transition: all 0.3s;
  padding: 0rem 0.5rem 0.5rem 0.5rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    color: variables.$me-orange-500;
  }

  &:focus,
  &:active {
    transform: scale(0.9);
  }

  &:disabled {
    color: gray;
    border-color: gray;
  }
}

.me-btn-submit {
  border: 2px solid variables.$me-orange-100;
  border-radius: custom.$border-radius-sm;
  background-color: transparent;
  color: variables.$me-orange-100;
  outline: none;
  transition: all 0.3s;
  padding: 0.5rem;
  font-weight: 700;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 2px solid variables.$me-orange-400;
  }

  &:active {
    transform: scale(0.9);
    color: variables.$me-orange-400;
  }

  &:disabled {
    color: gray;
    border-color: gray;
  }
}

.me-btn-reset {
  border: none;
  background-color: transparent;
  color: variables.$me-orange-100;
  outline: none;
  transition: border-color 0.3s;
  padding: 0.5rem;
  font-weight: 700;
  cursor: pointer;

  &:hover,
  &:focus {
    color: variables.$me-orange-400;
  }

  &:active {
    transform: scale(0.9);
    color: variables.$me-orange-400;
  }

  &:disabled {
    color: gray;
    border-color: gray;
  }
}

.me-project-btn {
  border-bottom: 2px solid variables.$me-orange-500;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  padding: 0.2rem 0;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    color: variables.$me-orange-500;
  }

  &:focus,
  &:active {
    transform: scale(0.9);
  }
}

a.project-btn.btn.border-0:focus {
  color: variables.$me-orange-500;
  transform: scale(1.1);
}

//NAVBAR BUTTONS

#navbar-toggler {
  color: variables.$me-orange-500;
  background-color: transparent;
  outline: none;
  border: none;

  &:focus {
    box-shadow: none;
    outline: none;

    .navbar-toggler__icon {
      outline: 2px solid variables.$me-orange-500;
      outline-offset: 2px;
    }
  }

  @include respond(medium) {
    display: none;
  }
}

#offcanvas-close {
  background: none;
  border: none;
  &:focus {
    outline: 1px solid variables.$me-orange-500;
    box-shadow: none;
  }
  &:active {
    transform: scale(0.9);
  }
}
